@charset "utf-8";
/* CSS Document */
/* ===============
 * 重新定义Html元素
 * =============== */

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal;}
table{border-collapse:collapse;border-spacing:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em{font-weight:normal;}
del,ins,a,a:hover,a:link,a:visited,a:active{text-decoration:none;}
body,textarea,input,button,select,legend{font:14px/1.14 arial,\5b8b\4f53;font-family:"Microsoft YaHei";color:#333;outline:0;}
body{font-family:"Microsoft YaHei",sans-serif;font-size:12px;color:#5e5e5e;background:#fff;min-width:1200px;}
a{color:#333;}
body{min-width: 1200px;font-size: 14px;}
.wrap{width: 1200px;margin:0 auto;}
.fl{float: left;}
.fr{float: right;}

/*header*/
#header,#menu{width:100%; min-width:1200px; background:#fff;}
.header{width:1200px; margin:0 auto; height:140px; line-height:140px; position:relative;}
.header h1{width:765px; height:auto; background:url(../images/logo.jpg) 0 0 no-repeat; position:absolute; left:0; top:10px; text-indent:-999em;margin-left: 40px; }
.header ul{position:absolute; right:0; top:44px; width:320px;}
.header ul li{float:left;}
.header ul li a{display:block;height:32px; line-height:32px;}
.index_login a, .index_reg a{background:#009fe3; color:#fff; border-radius:14px; width:90px; box-shadow:0 2px 1px #999; text-align:center; font-weight:bold; letter-spacing:6px;}
.index_reg a{background:#f87e5a; margin:0 30px 0 15px;}
.index_login a:hover{background:#0897d5;}
.index_reg a:hover{background:#f56a40;}
.iphone a{color:#666; font-size:14px; background:url(../images/iphone.png) 0 4px no-repeat; text-indent:22px;}
.iphone a:hover{text-decoration:underline;}


.bm_header{border-bottom: 4px solid #00a3ff;overflow: hidden;}
.bm_header .logo{float: left;padding:12px 0;}
.bm_header .nav{float: right;height: 50px;line-height: 56px;margin-top: 26px;}
.bm_header .nav li{float: left;margin-left: 50px;}
.bm_header .nav li a{font-size: 18px;color: #000;}
.bm_header .nav li.cur a{color: #00a3ff;}

/*menu*/
#menu{background:#009fe3; box-shadow:0 0 1px #aaa; position:relative; z-index:9;}
.menu{width:1200px; margin:0 auto; height:84px;}
.menu li{float:left; width:199px; border-left:1px solid #fffefe;}
.menu li a{display:block; line-height:20px; text-align:center; color:#fff; height:40px; padding:22px 0;}
.menu li a strong{font-size:16px; font-weight:bold;}
.menu li a span{font-size:14px; font-family:'Microsoft Yahei';}
.menu li a:hover{background:#0087c0;}
.menu .tools{border-right:1px solid #fffefe; width:198px; position:relative;}
.menu .tools a{background:#0087c0;}
.menu .tools em{background:url(../images/iphone.png) 0 -232px no-repeat; position:absolute; right:52px; top:25px; width:12px; height:12px;}
.tools .tool_select{width:198px; background:#0087c0; position:absolute; top:84px; right:0; display:none;}
.tools .tool_select a{display:block; height:40px; line-height:40px; padding:0 0 0 70px; text-align:left;}
.tools .tool_select a:hover{background:#0c81b2;}

#footer{margin:20px auto 45px; width:1170px; padding-left:30px; height:170px; background:#fff; border-bottom:1px solid #ebebeb;border-top:1px solid #ebebeb; position:relative;}
#footer h1{width:150px; height:30px; position:absolute; left:30px; top:30px; text-indent:-999em;}
.friendLink{position:absolute; top:86px; left:30px; font-size:12px;}
.friendLink a{color:#009fe3; float:left; margin-right:30px;}
.friendLink a:hover{text-decoration:underline;}
#footer p{position:absolute; left:0; bottom:0; height:48px; line-height:48px; text-align:left; width:1170px; padding-left:30px; border-top:1px solid #ebebeb;}
.weixin{width:170px; height:170px; position:absolute; top:0; right:0; z-index:1;border-left:1px solid #ebebeb; background:#fff;}
.weixin img{width:100px; height:100px; margin:25px 35px 0 35px;}
.weixin h3{color:#666; font-size:12px; line-height:20px; text-align:center;}

.bm_footer{text-align: center;padding-top: 10px;border-top: 1px solid #e2e2e2;padding: 30px 0;}
.bm_footer .hd a{font-size: 14px;color: #00a3ff;display: inline-block;padding: 0 20px;border-left: 1px solid #ddd;}
.bm_footer .hd a:first-child{border:none;}
.bm_footer .ft{font-size: 12px;color: #999;padding-top: 16px;}




